@page "/"
@inherits EmployeeListBase
<h3>Selected Employees Count: @SelectedEmployeesCount</h3>
<input type ="checkbox" id="showfooter" @bind="ShowFooter"/>
<Label for ="showfooter">Show Footer</Label>

@if (Employees == null)
{

    <div class="spinner-border"></div>
}

else{
<div class="card-group">
    @foreach(var employee in Employees)
    {
        <DisplayEmployee Employee="employee" ShowFooter="ShowFooter" OnEmployeeSelection="EmployeeSelectionChanged"></DisplayEmployee>
    }


</div>
}